body {
    background-color: white;
}

#Signup {
    outline: 3px rgb(72, 72, 72) solid;
    background-color: rgb(255, 246, 235);

    width: 500px;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Signup > h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(65, 65, 65);
}

p { 
    display: flex;
    justify-content: center;
    align-content: center;   
}

label {
    font-family: 'Times New Roman', Times, serif;
}

#SubmitButton {
    display: block;
    margin: 0 auto;

    border: white, 2px, solid;
    color: rgb(64, 55, 55);
    background-color: beige;
    
    padding: 5px;

    transform: translateY(-15%);
}