{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
</head>
<body>

    <div id="Welcome">
        <img src="{% static 'TemplatePFP.png' %}" alt="Profile Picture">
        <h1>Hello! {{ user.first_name }}</h1>

        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    </div>
</body>
</html>