body {
    background-color: #d8d8d8;
}

#Welcome {
    display: grid;
    grid-template-columns: repeat(4, 175px);
    gap: 10px;

    background-color: white;
    border: 3px black solid;

    transform: scale(0.8) translateX(-12%);
    height: 135px;
}

#Welcome > img {
    transform: scale(0.75);
}

#Welcome > h1 {
    transform: translateY(35px) translateX(-15px);
}

#Welcome button {
    background: black;
    color: white;
    border: 2px rgb(125, 125, 125) solid;
    padding: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;

    transform: translateY(50px);
}

.map {
    width: 75%;
    margin: auto;

    transform: translateY(15px);
}

.map .maplibregl-map {
    height: 700px !important;
}