body {
    background-color: #d8d8d8;
}

#Welcome {
    display: grid;
    grid-template-columns: repeat(3, 175px);
    gap: 10px;

    background-color: white;
    border: 3px black solid;

    transform: scale(0.8) translateX(-12%);
}

#Welcome > img {
    transform: scale(0.75);
}

#Welcome > h1 {
    transform: translateY(40px) translateX(-15px);
}

#Welcome button {
    background: black;
    color: white;
    border: 2px rgb(125, 125, 125) solid;
    padding: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;

    transform: translateY(50px);
}