{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="{% static 'settings.css' %}">
</head>
<body>
    <div id="Settings">
        <h1>Settings</h1>

        <h2>Address</h2>

        <p class="Disclaimer">
            Coordinates will be considered first, if you want to use an address, remove cooridnates section
        </p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" id="SubmitButton">Submit</button>
        </form>
    </div>
</body>
</html>